<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
        <script src="{% static 'js/main.js' %}" defer></script>
    </head>
    <body>
        <section class="header">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </section>
        <h1>Home</h1>
        <p>Check out about page <a href="/about">About</a></p>
    </body>
</html>
